{% extends 'mailstream/base.html' %}

{% block content %}
<div class="row justify-content-md-center border-top border-bottom">
    <div class="col-6 bg-body-tertiary">
        <div class="align-middle py-3">
            <h4 class="my-0 fw-normal text-center">Смена пароля</h4>
        </div>
        <div class="text-center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Изменить пароль" class="w-50 btn btn-sm btn-outline-success"/>
                <div class="btn-group justify-content-md-center w-50">
                    <a class="btn btn-sm btn-outline-warning"
                       href="{% url 'mailstream:start' %}">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}