<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">Сервис управления рассылками</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="btn btn-primary rounded-pill px-3">Home</a></li>
            <li class="nav-item"><a href="#" class="btn btn-outline-primary rounded-pill px-3">Features</a></li>
            <li class="nav-item"><a href="#" class="btn btn-outline-primary rounded-pill px-3">Pricing</a></li>
            <li class="nav-item"><a href="#" class="btn btn-outline-primary rounded-pill px-3">FAQs</a></li>
            <li class="nav-item"><a href="#" class="btn btn-outline-primary rounded-pill px-3">About</a></li>
        </ul>
    </header>
</div>